$oneColumn: 100% / 12

.container-fluid
  width: 100%
  padding: 0
  margin: 0 auto

.container-975
  max-width: 975px
  padding: 0
  margin: 0 auto

.container-1440
  max-width: 1440px
  margin: 0 auto
  padding: 0
.container-1140
  max-width: 1140px
  margin: 0 auto
  padding: 0 15px

.row
  display: flex
  width: 100%
  flex-wrap: wrap
  position: relative



@media screen and (min-width: 768px)
  .container-1440
    max-width: 767px
    margin: 0 auto
    padding: 0 15px
  .container-1140
    max-width: 767px
    margin: 0 auto
    padding: 0 15px

@media screen and (min-width: 992px)
  .container-1440
    max-width: 990px
    margin: 0 auto
    padding: 0 15px
  .container-1140
    max-width: 990px
    margin: 0 auto
    padding: 0 15px
@media screen and (min-width: 1200px)
  .container-1440
    max-width: 1440px
    margin: 0 auto
    padding: 0 15px
  .container-1140
    max-width: 1140px
    margin: 0 auto
    padding: 0 15px
@for $i from 1 through 12
  .col-xs-#{$i}
    width: 100%
    @media all and (min-width: 320px)
      flex: 0 0 $oneColumn * $i
      max-width: $oneColumn * $i

@for $i from 1 through 12
  .col-sm-#{$i}
    width: 100%
    @media all and (min-width: 768px)
      flex: 0 0 $oneColumn * $i
      max-width: $oneColumn * $i

@for $i from 1 through 12
  .col-md-#{$i}
    width: 100%
    @media all and (min-width: 992px)
      flex: 0 0 $oneColumn * $i
      max-width: $oneColumn * $i

@for $i from 1 through 12
  .col-lg-#{$i}
    width: 100%
    @media all and (min-width: 1200px)
      flex: 0 0 $oneColumn * $i
      max-width: $oneColumn * $i
      position: relative
      min-height: 1px
      -webkit-box-flex: 0

@for $i from 0 through 12
  .offset-xs-#{$i}
    @media all and (min-width: 320px)
      margin-left: $oneColumn * $i
@for $i from 0 through 12
  .offset-sm-#{$i}
    @media all and (min-width: 768px)
      margin-left: $oneColumn * $i
@for $i from 0 through 12
  .offset-md-#{$i}
    @media all and (min-width: 992px)
      margin-left: $oneColumn * $i
@for $i from 0 through 12
  @media all and (min-width: 1200px)
    .offset-lg-#{$i}
     margin-left: $oneColumn * $i


@media all and (max-width: 767px)
  .hidden-xs
    display: none

.padding-30-30
  padding: 0px 30px
.padding-15-15
  padding: 0px 15px
.no-padding
  padding: 0px 0px
.m-padding-0
  @media all and (max-width: 767px)
    padding: 0 !important
