@font-face
  font-family: "LatoRegular"
  src : url("~@/assets/fonts/Lato-Regular.ttf")
  font-weight: 500
  font-style: normal
  font-display: swap
a
  text-decoration: none
.lazyLoad
  opacity: 0
  transition: 0.3s ease-in-out

.isLoaded
  opacity: 1 !important
  //transition: none
.no-image-transition
  transition: none !important
