<template>
  <div class="tut">
    <img alt="i" src="~/assets/images/i.jpg">
    <h2>HI!</h2>
  </div>
</template>

<script>

export default  {
  name: 'tutorial',
}
</script>

<style lang="css">
  .tut {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  img {
    position: absolute;
    height: 40vh;
    top: 0;
  }
  h2 {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
    font-size: 160px;
    font-family: 'LatoRegular';
  }
</style>
