<template>
  <section class="section">
    <p ref="forColor"></p>
    <PrismicImage class="image" :field="slice.primary.image" />
    <PrismicRichText :field="slice.primary.title" class="title" />
    <div :style="`background-color: ${slice.primary.color}`" class="color"></div>
    <PrismicRichText :field="slice.primary.description" />
  </section>
</template>

<script>
import { getSliceComponentProps } from "@prismicio/vue/components";
export default {
  name: "MySlice",
  // The array passed to `getSliceComponentProps` is purely optional and acts as a visual hint for you
  props: getSliceComponentProps(["slice", "index", "slices", "context"]),
}
</script>

<style scoped>
.color {
  width: 100px;
  height: 100px;
  margin: auto;
}
.section {
  background: #f7f7f7;
  color: #111;
  padding: 4em;
  text-align: center;
}
.image {
  width: 300px;
  margin: auto;
}
.title {
  margin-bottom: 2em;
}
</style>
